body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}
.cursor--pointer {
  cursor: pointer;
}
.top-title {
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
.home-page-title {
  font-size: 16px;
  text-align: left;
  color: #a5641f;
}

.topnav {
  background-color: #805535;
  padding: 15px;
}

.card-background {
  background-color: #c6885997;
}

.button-custom {
  background-color: #0000ffed;
  border-radius: 20px;
  color: #000000;
  font-weight: 800;
  padding: 20px;
  font-size: 0.82rem;
}
.button-custom:hover {
  background-color: #000000;
}
.button-custom:focus {
  background-color: #001227ed;
}
.button-custom:active {
  background-color: #001227ed;
}

.home-page-card {
  background-color: #001227ed;
  border-radius: 20px;
  padding: 50px;
}
